<h1>Upgrade Your Item Here</h1>

<h3><%= @item.name %> will cost 3 exp points to upgrade. Upgrading it will increase its 
bonus to your <%= @item.stat %> by <%= @item.bonus * 0.1 %> to a total of <%= @item.bonus * 1.1 %></h3>
<h3> Would you like to upgrade it? </h3>
